[Unit]
Description=Raspberry Pi 5 Rust PoC
Wants=network-online.target
After=network-online.target
RequiresMountsFor=/srv/rust
BindsTo=srv-rust.mount
After=srv-rust.mount
StartLimitIntervalSec=600
StartLimitBurst=3

[Service]
Type=simple
User=rust
Group=rust
WorkingDirectory=/srv/rust/server
Environment=HOME=/srv/rust/home
Environment=FEX_ROOTFS={{ fex_rootfs_path }}
Environment=LD_LIBRARY_PATH=/srv/rust/server:/srv/rust/server/RustDedicated_Data/Plugins/x86_64
ExecStartPre=/usr/bin/findmnt --noheadings --source UUID={{ rust_storage_verified_uuid }} --mountpoint /srv/rust
ExecStart={{ fex_prefix }}/bin/FEX /srv/rust/server/RustDedicated -batchmode -nographics -logFile - +server.identity {{ rust_identity }} +server.hostname "{{ rust_hostname }}" +server.level "Procedural Map" +server.seed {{ rust_seed }} +server.worldsize {{ rust_worldsize }} +server.maxplayers {{ rust_server_effective_maxplayers }} +server.port 28015 +server.queryport 28017 +rcon.ip 127.0.0.1 +rcon.port 28016 +app.port {{ rust_plus_enabled | bool | ternary(rust_plus_port | string, '1-') }}
KillSignal=SIGINT
KillMode=mixed
TimeoutStopSec=180
Restart=on-failure
RestartSec=30
UMask=0027
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true
LimitNOFILE=65536
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
